{% extends "templates/base.html" %}
{% block content %}
	<br/>
	<div class="aboutMeMain">
		<img src= "static/step2.png" alt = "nick" class="bigimage"/>
	</div>
	<br/>
	<div class="sectioncontainer">
		<div class="aboutMeIcon">
			<img src="static/familycircle.png" alt="family icon" style="float: left;"/>
		</div>
		<div class="aboutMeDescription">
			<span>My family is the most important thing in the world to me. They have helped me through the rough times, and continuously inspire me to reach my fullest potential. I wouldn't be where I am today without their help and so I owe everything to them.</span>
		</div>
	</div>
	
	<div class="sectioncontainer">
		<div class="aboutMeIcon">
			<img src="static/educationcircle.png" alt="education icon" style="float: right;"/>
		</div>
		<div class="aboutMeDescription">
			<span>
				I am a Junior at the University of Michigan. Studying at the Ross School of Business, I have come to love certain classes like: 'Effective Business Presentation', 'Business Analytics and Statistics', and 'Behavior Theory Management'. However, I have recently taken a strong interest in the programming side of business. Taking SI 106 to learn Python, and SI 206 to learn Web Development has been a real treat at the School of Information.
			</span>
		</div>
	</div>

	<div class="sectioncontainer">
	<div class="aboutMeIcon">
		<img src="static/misccircle.png" alt="freetime icon" style="float: left;"/>
	</div>
	<div class="aboutMeDescription">
		<span>In my free time, I enjoy heading to Skeeps or watching a Michigan sports game on TV. However, I am also the kind of person that finds learning fun. Whether it is watching TED talks or Bloomberg's Studio 1.0, I truly enjoy learning about new ideas and pondering potential, out-of-box uses. </span>
	</div>
	</div>

	<br/>
	<br/>

{% endblock %}
