{% extends "templates/base.html" %}
{% block content %}
	<br/>
	<img src= "static/family.png" alt = "family"/>
	<p>
		I am the second oldest in my family. My older brother, Ben, is 23. He recently graduated from the University of Maryland (College Park), and currently works as a Client Associate at The Vanguard Group. My younger brother, Jack, is 19. He currently attends Michigan State University ... I'm not too happy how they have been beating us in practically every sport recently. My younger sister, Sarah, is 17. She currently attends Conestoga High School and is looking at college with warm weather ... she's the smart one. Finally, my dad is a successful and passionate entrepreneur. He is the co-founder and CEO of a perosnal security app called EmergenSee. Oh, yes, I also have an awesome yellow lab named, Tyson. He has two modes 'lazy' and 'crazy'.
	</p> 

{% endblock %}