{% extends "templates/base.html" %}
{% block content %}
	<br/>
<!--
	<img src= "static/family.png" alt = "Family" class="photogallery" />
	<img src= "static/kderb.png" alt="Kentucky Derby" class="photogallery"/>
	<img src= "static/stoga.png" alt="State Championship" class="photogallery"/>
	<img src= "static/selfie.jpeg" alt="Selfie" class="photogallery"/>
	<img src= "static/soph.jpeg" alt="Vaughn House" class="photogallery"/>
	<img src= "static/halloween.jpeg" alt="Skeeps Halloween" class="photogallery"/>
	<img src= "static/skiing.png" alt="Skiing" class="photogallery"/>
	<img src= "static/footballgame.png" alt="Family at Michigan Stadium" class="photogallery"/>
	<img src= "static/mhacksend.png" alt="MHacks 6 Team" class="photogallery"/> -->

	<div class="photogallery">
		<img src= "static/family.png" alt = "Family"/>
		<br/>
		<p>My family and our Yellow Lab</p>
	</div>
	<div class="photogallery">
		<img src= "static/kderb.png" alt="Kentucky Derby"/>
		<p>Friends and I at Kentucky Derby 2015</p>
	</div>
	<div class="photogallery">
		<img src= "static/stoga.png" alt="State Championship"/>
		<p>2012 PA Lacrosse State Championship</p>
	</div>
	<div class="photogallery">
		<img src= "static/selfie.jpeg" alt="Selfie"/>
		<p>Freshman year selfie</p>
	</div>
	<div class="photogallery">
		<img src= "static/soph.jpeg" alt="Vaughn House"/>
		<p>'Long live Vaughn St.'</p>
	</div>
	<div class="photogallery">
		<img src= "static/halloween.jpeg" alt="Skeeps Halloween"/>
		<p>Halloween as a Christmas Tree</p>
	</div>
	<div class="photogallery">
		<img src= "static/skiing.png" alt="Skiing"/>
		<p>In front of majestic Aspen Highlands Bowl</p>
	</div>
	<div class="photogallery">
		<img src= "static/footballgame.png" alt="Family at Michigan Stadium"/>
		<p>Family and I at Michigan Football game</p>
	</div>
	<div class="photogallery">
		<img src= "static/mhacksend.png" alt="MHacks 6 Team"/>
		<p>Having fun with MHacks 6 core team</p>
	</div>

	<br/>
	<br/>

{% endblock %}
