{% extends "templates/base.html" %}
{% block content %}

<div class="professionalContent">
<div class="mobileProfessional">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">University of Michigan - Student</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">As a student at the University of Michigan, I have had the opportunity to learn from some of the world's brightest professors. I have also had the opportunity to interact with fellow Wolverines that will one day be the leaders of the world's greatest companies, organizations, and movements. All of this has helped me push my limits of what I thought was possible, and has expanded my imagination in the process. Even more so, it is amazing to be a part of a community that is so willing to help one another out. The strong sense of Michigan pride is something I will always value.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">MHacks 6 - Sponsorship Team</a>
				</h4>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">Serving as a member of the sponsorship team for MHacks 6 in Fall 2015 was one truly exhiliarating experience. Not only was I able to work alongside an awesome team to put on one of the world's largest collegiate hackathons. I was also able to market to and negotiate with high-level HR executives and CTOs at some of the world's most preeminent technology companies to bring them to MHacks 6. I will always be proud of the fact that some of the work I did contributed to MHacks raising the largest amount of money in collegiate hackathon history.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Academic Success Program - Tutor</a>
				</h4>
			</div>
			<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">Originally, I started out as a tutor in the Ross Academic Center in order to make some money so I could cover some of my college expenses. However, once I started to tutor more and more it became so much more. I genuinely cared about the people I was tutoring and helping them learn the material. As a result, I started committing time to creating study plans and write extra problems. The most rewarding part came when one of the people I was tutoring actually told me that he wanted to be an accountant because of all the work we did together. Grades and internships are temporary, but that kind of impact truly lasts a lifetime.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">EmergenSee - Co-Founder</a>
				</h4>
			</div>
			<div id="collapse4" class="panel-collapse collapse">
				<div class="panel-body">EmergenSee is a personal security app available on both Android and iOS. With the simple tap of the app, it instantaneously streams live video, audio, and GPS movements to a personal contact and public safety in real-time. After a scary incident of road roage, our family thought up this idea and my 2 brothers, sister, and dad have been working on it ever since that day in February 2012. In particular, my responsibilities are centered around future technology planning, client promotional materials, and (very soon) Web Development.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">HotSpotsU - Co-Founder</a>
				</h4>
			</div>
			<div id="collapse5" class="panel-collapse collapse">
				<div class="panel-body">How many times you showed up at an event and think 'this sucks' ... or even worse not realize how awesome an event is until the next day? This Fear of Missing Out (FOMO) is a pandemic and HotSpotsU is the cure. This app provides a crowdsourcing platform for people to post videos and pictures in real-time so users can truly see what's good. Even more so, it provides exlcusivity controls to control who can see what. Serving as the Co-Founder and CEO has taught about establishing a vision and engineering user interactions in order to promote desired uses.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Otto Investments - Co-Founder</a>
				</h4>
			</div>
			<div id="collapse6" class="panel-collapse collapse">
				<div class="panel-body">Taking Business Statistics taught me about how a deep understanding in statistics can reveal valuable insights. Through this class, I became infatuated by the Markowitz Model for optimizing investment allocations in the stock market, but I also noticed many weaknesses. Otto Investments is committed to overcoming those weaknesses while innovative financial paradigms to our algorithm. While this is of interest to many financial advisers, our ultimate end goal is to turn this into a spring board that makes wealth management services affordable to all and improve financial literacy in the process.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">The Swift Group - Intern</a>
				</h4>
			</div>
			<div id="collapse7" class="panel-collapse collapse">
				<div class="panel-body">During the summer between my Sophomore and Junior year, I was given the opportunity to learn the wealth management industry while interning at The Swift Group at Merrill Lynch. I am truly grateful for the opportunity provided to me and how it improved my financial literacy. However, I also realized that it is not the career for me. I want to build things rather than just move money from one account to another. In addition, I'm not a cubicle type of person ... I need to move around and interact, and I absolutely detest wearing a suit.</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Salesforce - Intern</a>
				</h4>
			</div>
			<div id="collapse8" class="panel-collapse collapse">
				<div class="panel-body">This summer, I am excited to say that I will be interning for Salesforce on the Strategy and Finance team. Salesforce is a company I have always admired given their committment to being a successful business, while also being socially responsible. Even more so, I am looking forward to be able to work in San Francisco, a city that is full of excitement and large imaginations. This experience will only be amplified by the fact that I will be living in a hacker house.</div>
			</div>
		</div>
	</div>
	
</div>

<div class="largeProfessional">
	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>University of Michigan</h3>
		<a href="https://umich.edu/"><img src="static/umich.png" alt="UMich"></a>
		<div class="caption">
		<p>As a student at the University of Michigan, I have had the opportunity to learn from some of the world's brightest professors. I have also had the opportunity to interact with fellow Wolverines that will one day be the leaders of the world's greatest companies, organizations, and movements. All of this has helped me push my limits of what I thought was possible, and has expanded my imagination in the process. Even more so, it is amazing to be a part of a community that is so willing to help one another out. The strong sense of Michigan pride is something I will always value.</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>MHacks 6</h3>
		<a href="http://mhacks.org"><img src="static/mhacks.png" alt="MHacks 6"></a>
		<div class="caption">
		<p>Serving as a member of the sponsorship team for MHacks 6 in Fall 2015 was one truly exhiliarating experience. Not only was I able to work alongside an awesome team to put on one of the world's largest collegiate hackathons. I was also able to market to and negotiate with high-level HR executives and CTOs at some of the world's most preeminent technology companies to bring them to MHacks 6. I will always be proud of the fact that some of the work I did contributed to MHacks raising the largest amount of money in collegiate hackathon history.</p> <br/>
		
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>Academic Success Program</h3>
		<a href="http://www.mgoblue.com/asp/"><img src="static/ac.png" alt="Tutor"></a>
		<div class="caption">
		<p>Originally, I started out as a tutor in the Ross Academic Center in order to make some money so I could cover some of my college expenses. However, once I started to tutor more and more it became so much more. I genuinely cared about the people I was tutoring and helping them learn the material. As a result, I started committing time to creating study plans and write extra problems. The most rewarding part came when one of the people I was tutoring actually told me that he wanted to be an accountant because of all the work we did together. Grades and internships are temporary, but that kind of impact truly lasts a lifetime.</p>

	</div>
	</div>
	</div>
	
	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>EmergenSee</h3>
		<a href="https://emergensee.com/"><img src="static/emergensee.png" alt="EmergenSee Co-Founder"></a>
		<div class="caption">
		<p>EmergenSee is a personal security app available on both Android and iOS. With the simple tap of the app, it instantaneously streams live video, audio, and GPS movements to a personal contact and public safety in real-time. After a scary incident of road roage, our family thought up this idea and my 2 brothers, sister, and dad have been working on it ever since that day in February 2012. In particular, my responsibilities are centered around future technology planning, client promotional materials, and (very soon) Web Development.</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>HotSpotsU</h3>
		<a href="https://itunes.apple.com/us/app/hotspotsu/id932136406?mt=8"><img src="static/hotspotsu.png" alt="HotSpotsU CEO"></a>
		<div class="caption">
		<p>How many times you showed up at an event and think 'this sucks' ... or even worse not realize how awesome an event is until the next day? This Fear of Missing Out (FOMO) is a pandemic and HotSpotsU is the cure. This app provides a crowdsourcing platform for people to post videos and pictures in real-time so users can truly see what's good. Even more so, it provides exlcusivity controls to control who can see what. Serving as the Co-Founder and CEO has taught about establishing a vision and engineering user interactions in order to promote desired uses.</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>Otto Investments</h3>
		<a href="otto-investments.appspot.com"><img src="static/otto.png" alt="Otto Investments Co-Founder"></a>
		<br/>
		<div class="caption">
		<p>Taking Business Statistics taught me about how a deep understanding in statistics can reveal valuable insights. Through this class, I became infatuated by the Markowitz Model for optimizing investment allocations in the stock market, but I also noticed many weaknesses. Otto Investments is committed to overcoming those weaknesses while innovative financial paradigms to our algorithm. While this is of interest to many financial advisers, our ultimate end goal is to turn this into a spring board that makes wealth management services affordable to all and improve financial literacy in the process. </p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>The Swift Group</h3>
		<a href="https://vimeo.com/83683506"><img src="static/merrilllynch.png" alt="Merrill Lynch Intern"></a>
		<div class="caption">
		<p>During the summer between my Sophomore and Junior year, I was given the opportunity to learn the wealth management industry while interning at The Swift Group at Merrill Lynch. I am truly grateful for the opportunity provided to me and how it improved my financial literacy. However, I also realized that it is not the career for me. I want to build things rather than just move money from one account to another. In addition, I'm not a cubicle type of person ... I need to move around and interact, and I absolutely detest wearing a suit.</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>Salesforce</h3>
		<a href="https://www.salesforce.com/company/careers/"><img src="static/salesforce.png" alt="Salesforce Internship"></a>
		<div class="caption">
		<p>This summer, I am excited to say that I will be interning for Salesforce on the Strategy and Finance team. Salesforce is a company I have always admired given their committment to being a successful business, while also being socially responsible. Even more so, I am looking forward to be able to work in San Francisco, a city that is full of excitement and large imaginations. This experience will only be amplified by the fact that I will be living in a hacker house. </p>
	</div>
	</div>
	</div>
</div>
</div>

{% endblock %}
