{% extends "templates/base.html" %}
{% block content %}

<div class="professionalContent">

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>University of Michigan</h3>
		<a href="https://umich.edu/"><img src="static/umich.png" alt="UMich"></a>
		<div class="caption">
		<p>Currently, I am a Junior at the University of Michigan, studying within the Ross School of Business. I have enjoyed some business classes such as 'Effective Business Presentation', 'Business Analytics and Statistics', and 'Behavior Theory Management.' However, I have come to actually like the programming classes ('Programming with Python' and 'Agile Web Development')  offered by the School of Information much more because I get tremendous joy in life by building something from scratch in comparison to moving money from one bank account to another </p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>MHacks 6</h3>
		<a href="http://mhacks.org"><img src="static/mhacks.png" alt="MHacks 6"></a>
		<div class="caption">
		<p>Serving as a member of the sponsorship team for MHacks 6 in Fall 2015 was one truly exhiliarating experience. Not only was I able to work alongside an awesome team to put on one of the world's largest collegiate hackathons. I was also able to market to and negotiate with high-level HR executives and CTOs at some of the world's most preeminent technology companies to bring them to MHacks 6. I will always be proud of the fact that some of the work I did contributed to MHacks raising the largest amount of money in collegiate hackathon history.</p>
		
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>Academic Success Program</h3>
		<a href="http://www.mgoblue.com/asp/"><img src="static/ac.png" alt="Tutor"></a>
		<div class="caption">
		<p>Originally, I started out as a tutor in the Ross Academic Center in order to make some money so I could cover some of my college expenses. However, once I started to tutor more and more it became so much more. I genuinely cared about the people I was tutoring and helping them learn the material. As a result, I started committing time to creating study plans and write extra problems. The most rewarding part came when one of the people I was tutoring actually told me that he wanted to be an accountant because of all the work we did together. Grades and internships are temporary, but that kind of impact truly lasts a lifetime.</p>

	</div>
	</div>
	</div>
	
	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>EmergenSee</h3>
		<a href="https://emergensee.com/"><img src="static/emergensee.png" alt="EmergenSee Co-Founder"></a>
		<div class="caption">
		<p>EmergenSee is a personal security app available on both Android and iOS. With the simple tap of the app, it instantaneously streams live video, audio, and GPS movements to a personal contact and public safety in real-time. After a scary incident of road roage, our family thought up this idea and my 2 brothers, sister, and dad have been working on it ever since that day in February 2012. In particular, my responsibilities are centered around future technology planning, client promotional materials, and (very soon) Web Development.</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>HotSpotsU</h3>
		<a href="https://itunes.apple.com/us/app/hotspotsu/id932136406?mt=8"><img src="static/hotspotsu.png" alt="HotSpotsU CEO"></a>
		<div class="caption">
		<p>(description)</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>Otto Investments</h3>
		<a href="otto-investments.appspot.com"><img src="static/otto.png" alt="Otto Investments Co-Founder"></a>
		<div class="caption">
		<p>(description)</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>The Swift Group @ Merrill Lynch</h3>
		<a href="https://vimeo.com/83683506"><img src="static/merrilllynch.png" alt="Merrill Lynch Intern"></a>
		<div class="caption">
		<p>(description)</p>
	</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h3>Salesforce</h3>
		<a href="https://www.salesforce.com/company/careers/"><img src="static/salesforce.png" alt="Salesforce Internship"></a>
		<div class="caption">
		<p>(description)</p>
	</div>
	</div>
	</div>

</div>

{% endblock %}
