{% extends "templates/base.html" %}
{% block content %}
	<br/>
	<img src="static/umich.png" alt="school"/>
	<p>
	I am a Junior currently attending the University of Michigan. While, I do study at the Ross School of Business, I have come to realize that I am NOT even close to fitting the "Wall Street" that many Ross students aspire for. I like to create value that improves real problems that the world is facing. That is why I have come to develop a love for programming because I can literally create something from scratch that solves real problems. I took SI 106 last semester to learn Python, and I'm currently enrolled in SI 206 to learn HTML/CSS/JavaScript/jQuery. Even though my schedule is very limited in terms of available credit hours where I can take Computer Science courses during my Senior year, I look forward to continue developing my computer science knowledge through online resources and in-person get-togethers.
</p>

{% endblock %}