body{
	background-color: #ACD4EB;
	margin: 0;
	padding: 0;
}

header{
	background-image: url("header.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	top: -20px;
	width: 100%;
	height: 225px;
	float: left;
	clear: none; /*These last two lines make it possible to clear gap between header and nav*/
}

header img{
	padding-top: 20px;
	display: block;
	margin: 0 auto;
}

h1{
	text-align: center;
	color: white;
	margin-top: 0;
}

nav ul{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

#graygrad{
	background-color: #BBBEC4;
	background: -webkit-linear-gradient(gray, white);
	background: -o-linear-gradient(gray, white);
	background: -moz-linear-gradient(gray, white);
	background: linear-gradient(gray, white);
}

nav li {
	width: 24.5%;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  }

 .borderright {
 	border-right: 1px solid gray;
 }

/*
#nav ul{
	list-style-type: none;
	position: relative;
	text-align: center;
}

#nav ul li{
	display: inline-block;
	top: 50%;
	width: 20%;
}*/

nav ul li:hover{
	background-color: white;
}

a {
	text-decoration: none;
}

#content{
	padding-left: 5%;
	padding-right: 5%;
}

footer{
	position: relative;
	height: 40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	background-color: #C4C4C4;
	background: -webkit-linear-gradient(gray, white);
	background: -o-linear-gradient(gray, white);
	background: -moz-linear-gradient(gray, white);
	background: linear-gradient(gray, white);
}
