{% extends "templates/base.html" %}
{% block content %}
	<h2>Thank You!</h2>
	<br/>
	<p>I am simply a result of all the people that took the time to support my personal development. While this is by no means a comprehensive list, I wanted to provide some recognition to those very special people:
	</p>
	<br/>
	<br/>
	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/dad.jpeg" alt="Dad"/>
		</div>
		<div class="thankswords">
			<h4>Dad</h4>
			<p>My dad has been on of the biggest influences on my life. However, the most amazing thing is that his influence comes from without trying to be an influence. He will provide me with advice, and then let me try things for myself. Even if the decision I make is idiotic, he will always be there for me. He has been the reason for my accomplishments in business, academics, and life in general.</p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/familythanks.png" alt="Family"/>
		</div>
		<div class="thankswords">
			<h4>Family</h4>
			<p>In addition to my dad and a mom that will always be watching over me, I have an caring older brother, Ben (23); an amiable younger brother, Jack (19); and an amazing younger sister, Sarah (18). The thing is that my brothers and sister just aren't family, but they are also my best friends. They can always put a smile on my face, and are the absolute best!</p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/drhinesly.png" alt="Dr. Hinesly"/>
		</div>
		<div class="thankswords">
			<h4>Dr. Hinesly</h4>
			<p>For the longest time I thought I just struggled with public speaking. However, Dr. Hinesly's 'Professional Business Presentation' class helped me realize that the issue was my verbal communication and confidence. Dr. Hinesly subsequently carved time our of her busy schedule to intently listen to my concerns and created a customized regiment to improve my communication ability. </p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/judy.png" alt="Judy Donato"/>
		</div>
		<div class="thankswords">
			<h4>Judy Donato</h4>
			<p>Ever since I was young I had a predilection for brainstorming business ideas. Judy spurred the development of my written communication so I could turn those ideas into a narrative exciting to others. While I attribute her support to many positve results, the most tangible example of her impact came from how my SAT Writing score improved from 630 to 710 in a short, 3-month span.</p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/tom.png" alt="Tom Harris"/>
		</div>
		<div class="thankswords">
			<h4>Tom Harris</h4>
			<p>When I was in high school I was introduced to Dr. Harris. His passion for the University of Michigan was contagious, and he even wrote me a letter of recommendation that I personally believe set me over the top in getting admitted into this selective university. Over the years he has remained a great friend and awesome person to share my Wolverine spirit with.</p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/zonino.png" alt="Robbie Zonino"/>
		</div>
		<div class="thankswords">
			<h4>Robbie Zonino</h4>
			<p>Ever since Conestoga Youth Lacrosse, Robbie and I have been pals. As we eventually ended up at the same college we continued our friendship and have lived in the same college house  since. Almost every funny story that I have involves him in some way or another, and has provided me enough laughs to last a lifetime.</p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/nicksands.jpg" alt="Nick Sands"/>
		</div>
		<div class="thankswords">
			<h4>Nick Sands</h4>
			<p>I don't think I have ever had a Graduate Student Instructor that was more personable and knowledgeable. He knew when to crack jokes and he knew when to be serious, but the combination of both is what made this SI 206 discussion section the best discussion section I ever had at the University of Michigan. Nick enabled me to realize how fun Web Development is, and for that I am ineffably grateful!</p>
		</div>
	</div>

	<div class="sectioncontainer">
		<div class="personthanks">
			<img src="static/colleen.png" alt="Colleen van Lent"/>
		</div>
		<div class="thankswords">
			<h4>Professor van Lent</h4>
			<p>And finally, I want to thank Professor Colleen van Lent. This website would not have been possible if it wasn't for her easy-to-understand teaching style and passion for Web Development. I am extremely appreciative for the knowledge she has passed on to me and I am looking forward to the continued use of this knowledge in the pursuit of my career goals.</p>
		</div>
	</div>
{% endblock %}
